Add GPG-Interface

# Problem Setting

The crypto plugin is quite useless at the moment as there is no way to use it with the kdb command. 

The introduction of a GPG interface enables the user to utilize her existing key-pairs for cryptographic operations in Elektra. The private key is used for encrypting a random sequence, which serves as seed for a key derivation function (KDF). This way we can safely derivate cryptographic keys for symmetric value encryption. Both OpenSSL and libgcrypt have built-in support for the PBKDF2 (see [RFC 2898](https://tools.ietf.org/html/rfc2898)). [1, 2]

The PBKDF2 needs an **iteration number** and a **salt** in order to work. Those values will be stored per Key as MetaKey.

# Solution

See discussion below to find how we came to the results.

## Procedure

During the **mount phase** a random master password _r_ is being generated. _r_ is sent to the gpg binary for encryption. The resulting encrypted master password _m_ is stored in the plugin configuration at `config/masterChallenge`.

During the **set phase** the master password _m_ is sent to the gpg binary for decryption in order to retrieve _r_. The following steps will be repeated for every Key _k_, that is supposed to be encrypted. A random salt _s(k)_ is generated. By applying the PBKDF2 (mentioned earlier) with _r_ and _s(k)_, the cryptographic key _e(k)_ and the initialization vector _i(k)_ is being derived. The value of _k_ will be encrypted using _e(k)_ and _i(k)_. The seed _s(k)_ will be encoded as prefix into the encrypted value.

During the **get phase** the master password _m_ is sent to the gpg binary for decryption in order to retrieve _r_. The following steps will be repeated for every Key _k_, that is supposed to be decrypted. The salt _s(k)_ is read from the encrypted message. By applying the PBKDF2 with _r_ and _s(k)_ the values of _e(k)_ and _i(k)_ are restored. Then the encrypted message can be decrypted.

## General notes

We do not call the gpg-agent directly. Neither KMail nor Evolution do that. Instead they both call the gpg binary directly. In `~/.gnupg/gpg.conf` the usage of the gpg-agent can be enabled by setting the `use-agent` option. The gpg binary is the best way of handeling the gpg-agent protocol.

The plugin configuration must contain at least one GPG key descriptor that can be used as **recipient** but also for decrypting messages. See `man gpg` for more information about valid GPG key descriptions.

# Implementation Tasks

- [x] implement module for calling the gpg binary
- [x] implement module for retrieving/storing the master-challenge
- [x] implement the key/IV derivation using the master-challenge in the plugin variant `crypto_gcrypt`
- [x] implement the key/IV derivation using the master-challenge in the plugin variant `crypto_openssl`
- [x] implement the key/IV derivation using the master-challenge in the plugin variant `crypto_botan`
- [x] update the documentation and plugin description
- [x] write/update test cases

# Followup Tasks

The following issues will be handled separately:

- implement plugin-variant that uses GPG directly for symmetric encryption
- make plugin usable for "text-only" plugins
- FIX: master password is lost on umount
- provide something like security levels instead of exposing internal configuration for cryptographic operations (like iteration count for PBKDF2 or master password length)

# References

[1] [OpenSSL online documentation](https://www.openssl.org/docs/manmaster/crypto/PKCS5_PBKDF2_HMAC.html)
[2] The Libgcrypt Reference Manual Version 1.6.4. Koch, Schulte. 2015.

How will we get the iteration number and salt into the metakeys? Are they static and can be written as specification?

Why not directy aim towards high-level frontends such as ssh/pgp-agent? It supports smart cards and is much easier to use safely.

> How will we get the iteration number and salt into the metakeys? Are they static and can be written as specification?

I suggest random values. The iteration count will be chosen randomly from an interaval that is "sufficiently secure".

> Why not directy aim towards high-level frontends such as ssh/pgp-agent? It supports smart cards and is much easier to use safely.

I was planning to provide password-based encryption anyway. The SSH/PGP-Agent protocols are not documented well. I will continue the research on this topic. As soon as I figure out how the PGP-agent protocol actually works, we have simple access to asymmetric encryption. 

Do you think password-based encryption is useless? In another iteration we could utilize the PGP-agent for requesting a password input. And then a KDF facility is required. If you don't want this feature I am not going to implement it.

No, password-based encryption is not useless. Only storing a password side-by-side with the encrypted values sounds very problematic. And this proposal seems to be difficult to implement and to use?

Why is there no way to set `crypto/iv` and `crypto/key` via kdb?

Setting those values withh kdb is also insecure. Which is why the plugin status is "experimental".

The problem is that those values are binary. Is there a way to set binary values using kdb?

Obviously `iv` and `key` are insecure, the question is how and if `crypto/password` would be more secure?

It seems to be more difficult to use, because of the random values in every metakey.

You are right, the binary mode of `kdb-set` was removed because commandline arguments cannot have null terminators. A `kdb-set-file` is not yet implemented. For setting `iv` and `key` a small helper tool would be useful anyway.

> Obviously iv and key are insecure, the question is how and if crypto/password would be more secure?

It is not, of course. I just wanted to "make it run".

Ok, so I think a small helper-utility for setting `iv` and `key` is the more direct way to do it. Its a testing-only tool anyway, so an integration directly into `kdb-mount` seems not to be necessary? (Even though in interactive mode it seems quite obvious where to implement it.)

After some discussions @markus2330 and I came up with the following solution to "relatively securely" derive the cryptographic key material in Elektra's crypto plugin(s).

### Procedure

During the **mount phase** a random master password _r_ is being generated. _r_ is sent to the gpg binary for encryption. The resulting encrypted master password _m_ is stored in the plugin configuration at `config/masterChallenge`.

During the **set phase** the master password _m_ is sent to the gpg binary for decryption in order to retrieve _r_. The following steps will be repeated for every Key _k_, that is supposed to be encrypted. A random seed _s(k)_ is generated. By applying the PBKDF2 (mentioned earlier) with _r_ and _s(k)_, the cryptographic key _e(k)_ and the initialization vector _i(k)_ is being derived. The value of _k_ will be encrypted using _e(k)_ and _i(k)_. The seed _s(k)_ will be encoded as prefix into the encrypted value.

During the **get phase** the master password _m_ is sent to the gpg binary for decryption in order to retrieve _r_. The following steps will be repeated for every Key _k_, that is supposed to be decrypted. The seed _s(k)_ is read from the encrypted message. By applying the PBKDF2 with _r_ and _s(k)_ the values of _e(k)_ and _i(k)_ are restored. Then the encrypted message can be decrypted.

### General notes

We do not call the gpg-agent directly. Neither KMail nor Evolution do that. Instead they both call the gpg binary directly. In `~/.gnupg/gpg.conf` the usage of the gpg-agent can be enabled by setting the `use-agent` option. The gpg binary is the best way of handeling the gpg-agent protocol.

The plugin configuration must contain at least one GPG key descriptor that can be used as **recipient** but also for decrypting messages. See `man gpg` for more informations about valid GPG key descriptions.

@markus2330 Should I put a copy of this concept into `doc/decisions`?

@petermax2 I saw you crossposting this on Facebook ;)

I would like to point out that the terminology you are using here could be slightly misleading. PBKDF2, using one and the same configuration (specifically the underlying PRF and number of rounds) is deterministic. By stating

> A random seed *s(k)* is generated. By applying the PBKDF2 (mentioned earlier) with *r* and *s(k)*

one could be mislead to believe that PBKDF2 employs randomization and therefore needs to seed it's internal state. However, what you proabably intended to say, was that a random *salt* would be generated to be fed to PBKDF2. Similarily

> The seed s(k) is read from the encrypted message.

should read *salt* as well.

See also: [Options and Input for PBKDF2 (RFC 2898, section 5.2, page 10)](http://tools.ietf.org/html/rfc2898#section-5.2).

@flowlo thank you! Very helpful input!

@petermax2: Yes, documenting the decision would be helpful for future reference. Please avoid camel case (masterChallenge). You should also mention that we wanted to modularize the safe-keeping of the password and the used en/decryption of keys. As described in the text above, it would not be lazy (but always execute the gpg binary). Btw. what about using the gpg executable for both getting the password and do the de/encryption?

@flowlo: thanks for your input

> Btw. what about using the gpg executable for both getting the password and do the de/encryption?

It would lead to an overhead in data size. GPG messages have quite some headers. Also it would cost performance because for every Key that was encrypted an RSA (or DSA respectively) encrypt would be executed. However, this would be a nice benchmark, right?

I will also mention that we want to use the gpg binary to encrypt/sign whole configuration files.

>  both getting the password and do the de/encryption?
or did you mean to call the gpg binary to encrypt symmetrically using the given password, which would also be possible.

Yes, I was thinking about using the gpg binary to encrypt symmetrically implementing the same interface you already implemented twice (gcrypt, openssl). I am not sure, however, if there is a way to forward the password to the binary in a secure way. It would be interesting from performance point of view, though. But better recheck if it helps you with your research questions.

(Btw. one big advantage of using the gpg binary is that it does not impose any build-time dependency)

I am using this ticket as implementation task.

- [ ] implement module for calling the gpg binary
- [ ] implement module for retrieving/storing the master-challenge
- [ ] implement the key/IV derivation using the master-challenge in the plugin variant `crypto_gcrypt`
- [ ] implement the key/IV derivation using the master-challenge in the plugin variant `crypto_openssl`
- [ ] implement plugin-variant that uses GPG directly for symmetric encryption
- [ ] update the documentation and plugin description
- [ ] write/update test cases

Good idea to do that! If you write it in the first post, github even will even show the progress.

Btw. it might be a premature optimization, but is it possible to exec gpg only once and continue to send data over the same socket?

> Btw. it might be a premature optimization, but is it possible to exec gpg only once and continue to send data over the same socket?

Yes, that is possible. Does Elektra provide an interface for Key serialization (keeping binary compatibility in mind, etc.)?

I think you do not need it: either you only encrypt values or the whole file.

But to have a binary representation of Keys would be part of the mmap implementation.

I checked the man pages. GPG keeps reading from stdin until it receives EOF and then writes a single encrypted message to stdout. Albeit supporting the encryption of multiple files (`--multifile`) there seems to be no option for encrypting several messages (received from stdin) at once.

The description of `--multifile` says: "or read from STDIN with each filename on a separate line", so it should do the trick: Try to use `-` as file to read from stdin, then send text (+EOF), then `-` again, and so on..

 Did you also look at `doc/DETAILS` in the src? `--status-fd` and `--command-fd` seem to replace a prior IPC which seems to be important for your endeavour.

Btw. I do not know if the fork/exec actually is a performance issue (you should benchmark that first). Having a long running gpg process might also have drawbacks, e.g. I am not sure how fine-granular `--lock-multiple` is: Does gpg really release the lock when it waits for the next filename?

`--multifile` and `--symmetric` do not work together (yet?). Version gpg (GnuPG) 2.1.11 does not support it.

Btw. it is good that you explore the limitations of the tools you are using!

requires #559 (coming with PR #733 ) but not in release 0.8.17 as discussed with @markus2330 

> During the mount phase a random master password r is being generated. r is sent to the gpg binary for encryption. The resulting encrypted master password m is stored in the plugin configuration at config/masterChallenge.

The plugin configuration is not persisted. However the encrypted master password _r_ has to be stored somewhere where it can be retrieved later on as it is mandatory for decryption.

Maybe we should expect a plugin configuration key holding the information of where to put the master password _r_ and take a default like `user/crypto/password` if not provided (although the default does not make any sense if the it is not mounted).

To illustrate what I mean here. We would mount like this:

    kdb mount ~/test.ini user/test ini crypto_gcrypt password=user/test/pwd

to tell the plugin to put the encrypted master password to `user/test/pwd` in this case.

@markus2330 What do you think about it? Why did we plan on putting the encrypted master password into the plugin config anyway?

> The plugin configuration is not persisted.

What do you mean? Of course it is persistent. It lives in `system/elektra/mountpoints/<name>/config`. If the changes by `checkConf` are not visible there, it is a bug in  #733. Note that changes are only stored when the return value is 1, maybe we should improve docu here.

> `crypto_gcrypt password=user/test/pwd`

Do you really literally mean the password `user/test/pwd` or does this refer to a key holding the password? If it tries to refer to a key, it won't work. The plugins are created at an early bootstrap phase where no configuration except `system/elektra` was read. So the configuration needs to literally contain the encrypted password as value from a key in the plugin configuration.

I would also not pass the (unencrypted!) password via commandline arguments (I think that is what you tried to achieve with the `user/test/pwd`), instead you should start a pinentry or similar password entry methods within `checkConf`. But I thought we will use a randomly generated string as password anyway? What do you want to achieve with the `password=user/test/pwd` argument?

> What do you think about it?

I am mainly confused ;) See questions above.

> Why did we plan on putting the encrypted master password into the plugin config anyway?

The plugin config is the only conf you can access from within the plugin. For global plugins in some positions you can also access spec keys, but the design with plugin config makes the plugin applicable for more situations.



Sorry for the confusion. It is a bug. `BackendBuilder` does not store the updated configuration after calling the `checkconf` method.